/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 29, 2017, 5:26:10 PM
    Author     : cyann
*/

.in-action{
    -fx-fill:#648ee4;
    /*-fx-stroke:#4278dcff;*/
    -fx-stroke:#5379c0;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 10,0,0,0 );
}

.in-control{
    -fx-fill:#d8a20a;
    -fx-stroke:#bb8a09;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 10,0,0,0 );
}

.in-operator{
    -fx-fill:#86b237;
    -fx-stroke:#739831;
    -fx-stroke-width: 0.5;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 5,0,0,0 );
}

.in-text{
    -fx-font:20px "Sans-Serif";
    -fx-fill: #ffffff;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 10,0,0,0 );
}

.expression-text{
    -fx-font:16px "Sans-Serif";
    -fx-fill: #ffffff;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 10,0,0,0 );
}

.expression{
    -fx-fill:#739831;
}

.hook-tip{
    -fx-fill: rgba(255,255,255,0.25);
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.75) , 15,0.95,0,0 );
}
